* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeee;
  color: #512d6d;
}

.container {
  margin: 2rem auto;
  text-align: center;
}

input,
label {
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
  display: block;
  width: 20%;
}

input {
  background-color: #c2ffd9;
  color: black;
}

#check-btn {
  background-color: #320d55a1;
  color: #c2ffd9;
  margin: 1rem;
  padding: 0.5rem;
  width: 10%;
}

#output-div {
  font-size: 2rem;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  input {
    width: 60%;
  }
  #check-btn {
    width: 80%;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 10%;
  padding: 2rem 1rem;
  color: black;
  text-align: center;
}

.footer div {
  margin-bottom: 0.9rem;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 2px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.2rem;
}

.link {
  text-decoration: none;
  padding: 0.4rem 1.2rem;
}

.footer .link {
  color: black;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
