* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeee;
  color: #512d6d;
}

.container {
  margin: 2rem auto;
  text-align: center;
}

input,
label {
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
  display: block;
  width: 20%;
}

input {
  background-color: #c2ffd9;
  color: black;
}

#check-btn {
  background-color: #320d55a1;
  color: #c2ffd9;
  margin: 1rem;
  padding: 0.5rem;
  width: 10%;
}

#output-div {
  font-size: 2rem;
  font-weight: bolder;
}
